* {
    margin: 0;
}

body {
    font-size: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(241, 241, 241);
}

/* The app */
.app-container {
    display: flex;
    justify-content: space-around;
}

.column {
    margin-top: 10px;

    height: 60rem;
}

.col1 {
    width: 77%;
}

.col2 {
    width: 20%;
}

.app-element {
    margin-top: 10px;
    background-color: lightgray;
}


/* Each element in app */
.toolbar {
    height: 2.5em;
}

.doc-editor {
    margin-top: 20px;
    height: 44em;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.patient-info {
    height: 12.5em;
}

.sc-menu {
    margin-top: 20px;
    height: 34em;
}


/* Tool bar */
.toolbar {
    display: flex;
}

.tools {

}

.tools:nth-child(even) {
    background-color: rgb(189, 189, 189);
}

.tools button {
    margin: 5px 5px;
    height: 2.5rem;
    background-color: rgb(226, 226, 226);
    border: none;
    border-radius: 3px;
    padding: 0 0.75rem;
    outline: rgb(185, 88, 88);
}

.tools button:hover {
    background-color: rgb(238, 238, 238);
}

.tools button:active {
    background-color: rgb(228, 228, 228);
}

.row {
    flex-grow: 1;
}


/* Document editor */
.editor {
    width: 97%;
    height: 42em;
    max-height: 42em;
    margin: auto;
    background-color: white;
    overflow: auto;
    outline: none;
}


/* Patient info */
.patient-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1rem;
    font-weight: bold;
}

.patient-one {
    display: inline;
    font-weight: lighter;
}
